<div class="row">
    <div class="col-md-2">
        <label></label>
    </div>
    <div class="col-md-4">
        <label><%= t('.image_name') %></label>
    </div>
    <div class="col-md-4">
        <label><%= t('.image_en_name') %></label>
    </div>
</div>
<div class="row">
    <div class="col-md-2">
        <input type="hidden" name="project[project_images_attributes][<%= uid %>][id]" value="<%= project_image.id %>">
        <input type="hidden" name="project[project_images_attributes][<%= uid %>][_destroy]" value="">
        <%= erp_form_control('image', {
            img_src: project_image.image_url.system,
            name: 'project[project_images_attributes][' + uid + '][image_url]',
            width: 50,
            height: 50
        }) %>
    </div>
    <div class="col-md-4">
        <%= erp_form_control("text", {
            name: 'project[project_images_attributes][' + uid + '][name]',
            value: project_image.name,
            text: project_image.name,
            placeholder: t('.placeholder_image_name')
        }) %>
    </div>
    <div class="col-md-4">
        <%= erp_form_control("text", {
            name: 'project[project_images_attributes][' + uid + '][en_name]',
            value: project_image.en_name,
            text: project_image.en_name,
            placeholder: t('.placeholder_image_en_name')
        }) %>
    </div>
    <div class="col-md-2">        
        <%= erp_form_control("addableform_remove_button", {
            is_nested_form: true
        }) %>
    </div>
</div>